<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <!-- The title that appears in the gadget's title bar. -->
    <entry key="title" label="Title">Developer Tools</entry>
    
    <!-- The URL of an icon image. -->
    <entry key="icon" private="true">https://gadget.devtools.host/favicon.ico</entry>
    
    <!-- The description that appears in the gadget chooser. -->
    <entry key="description" private="true">Provides useful tools for web developers. Currently supports minification of CSS/JavaScript and CSS pre-processing of SASS and LESS.</entry>
    
    <!-- The URL of a thumbnail image to appear in the gadget chooser. -->
    <entry key="thumbnail" private="true">https://gadget.devtools.host/images/thumbnail.png</entry>
    
    <!-- Current supported types are "dashboard" and "sidebar". If you want your gadget to appear
         in both places, enter "dashboard, sidebar". -->
    <entry key="types" private="true">sidebar</entry>
    
    <!-- This entry, if present, causes OU Campus to forward notifications of the specified 
         type(s) to the gadget. Enter one or more notification types separated by commas. -->
    <entry key="notifications" private="true">view_changed</entry>
    
    <!-- For sidebar gadgets only. See explanation at bottom. -->
    <entry key="sidebar_context" private="true">page</entry>
    
    <!-- For sidebar gadgets only. Determines the initial height of the gadget in pixels. -->
    <entry key="initial_height" private="true">80</entry>
    
</config>